---

- name: Process activity
  when: osquery_testing_process_activity
  block:
    - name: Make few cli calls
      ansible.builtin.command:
        cmd: "{{ item }}"
      changed_when: false
      failed_when: false
      loop:
        - ps
        - sudo -n ps
        - whoami
        - ifconfig
        - screen -dm bash -c 'echo CMD1; echo CMD2; ps aux --forest;'

- name: FIM
  when: osquery_testing_fimfiles or osquery_testing_fim_load
  block:
    - name: Ensure directory exists - before osquery start for inotify
      ansible.builtin.file:
        dest: "{{ item }}"
        state: directory
        mode: '0755'
      with_items:
        - /var/tmp/fim-testing-a
        - /var/tmp/fim-testing-b
      notify:
        - Restart osquery
    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

- name: Pause a bit
  ansible.builtin.pause:
    seconds: 10

- name: Systemd
  when: >
    ansible_facts['service_mgr'] == "systemd" and
    not is_container|bool
  block:
    - name: Systemd | check service status
      ansible.builtin.command: "systemctl status osqueryd -l"
      changed_when: false
      failed_when: false
      register: systemctl
    - name: Debug | systemctl output
      ansible.builtin.debug:
        var: systemctl.stdout_lines
- name: Service
  when:
    - ansible_facts['service_mgr'] == "service"
    - not (ansible_facts['os_family'] == "RedHat" and ansible_facts['distribution_major_version']|int == 9)
  block:
    - name: Service | check service status  # noqa command-instead-of-module
      ansible.builtin.command: "service osqueryd status"
      changed_when: false
      failed_when: false
      register: service
    - name: Debug | service output
      ansible.builtin.debug:
        var: service.stdout_lines

- name: Fim/Load
  when: osquery_testing_fimfiles or osquery_testing_fim_load
  block:
    - name: Ensure directory exists
      ansible.builtin.file:
        dest: "{{ item }}"
        state: directory
        mode: '0755'
      with_items:
        - /tmp/too_many_events
        - /tmp/too_many_events/a
        - /tmp/too_many_events/a/b
        - /tmp/too_many_events2/test
        - /tmp/too_many_events2/a
        - /tmp/too_many_events2/a/b
        - /tmp/too_many_events3/a
        - /tmp/too_many_events3/a/b
        - /tmp/excluded6-testing
        - /var/tmp/fim-testing-a
        - /var/tmp/fim-testing-a/.b
        - /var/tmp/fim-testing-b
        - /var/tmp/fim-testing-b/.c
        - /var/tmp/fim-testing-b/.c/d
        - /fim-testing-a/fim-testing-b/fim-testing-c
        - /fim-testing-dir

- name: FIM
  when: osquery_testing_fimfiles
  block:
    - name: Create files normally excluded
      ansible.builtin.file:
        name: "{{ item }}"
        state: touch
        mode: '0644'
      with_items:
        - /tmp/too_many_events2/test/testing-aa
        - /tmp/too_many_events/fim-testing1
        - /tmp/too_many_events/a/fim-testing2
        - /tmp/too_many_events/a/b/fim-testing3
        - /tmp/too_many_events2/fim-testing1
        - /tmp/too_many_events2/a/fim-testing2
        - /tmp/too_many_events2/a/b/fim-testing3
        - /tmp/too_many_events3/fim-testing1
        - /tmp/too_many_events3/a/fim-testing2
        - /tmp/too_many_events3/a/b/fim-testing3
        # - /tmp/excluded1-abcdef
        # - /tmp/abcdef-excluded2
        # - /tmp/excluded3-abcdef-testing
        # - /tmp/excluded4-abcdef-testing-ghijkl-testing-mnopqr
        # - /tmp/excluded5-exact-match
        # - /tmp/excluded6-abcdef
        # - /tmp/excluded6-testing/excluded-abcdef
        - /var/tmp/fim-testing-a/fim-testing1
        - /var/tmp/fim-testing-a/.fim-testing2
        - /var/tmp/fim-testing-a/.b/fim-testing3
        - /var/tmp/fim-testing-b/.fim-testing4
        - /var/tmp/fim-testing-b/.c/fim-testing5
        - /var/tmp/fim-testing-b/.c/d/fim-testing6
        - /fim-testing0
        - /fim-testing-a/fim-testing-b/fim-testing10
        - /fim-testing-a/fim-testing-b/fim-testing-c/fim-testing11
    - name: Test files
      ansible.builtin.file:
        name: "{{ item }}"
        state: touch
        mode: '0644'
      with_items: "{{ osquery_testing_fim_files }}"

- name: Load
  when: osquery_testing_fim_load
  block:
    - name: Fallocate big file
      ansible.builtin.command: "fallocate {{ osquery_fallocate_args | default('') }} -l {{ osquery_testing_fim_load_bigger }} /etc/testing-big-file"
      args:
        creates: /etc/testing-big-file
    - name: Creation of many small files in excluded directory
      ansible.builtin.command: "split -b {{ osquery_testing_fim_load_smaller_ex }} /etc/testing-big-file testing-"
      args:
        chdir: /tmp/too_many_events
        creates: /tmp/too_many_events/testing-aa
    - name: Clean up
      ansible.builtin.shell:  # noqa no-changed-when
        cmd: find /tmp/too_many_events/ -name 'testing-*' -exec rm {} \;
      failed_when: false
      when: osquery_testing_cleanup
    - name: Creation of many small files
      ansible.builtin.command:
        cmd: "split -b {{ osquery_testing_fim_load_smaller }} /etc/testing-big-file testing-"
      args:
        chdir: /etc
        creates: /etc/testing-aa
    - name: Clean up
      ansible.builtin.shell:  # noqa no-changed-when
        cmd: find /etc/ -name 'testing-*' -exec rm {} \;
      failed_when: false
      when: osquery_testing_cleanup
    # more diverse load? openssl speed, stress...
    - name: Retrieve log results
      ansible.builtin.command: "{{ item }}"
      with_items:
        - head -20 /var/log/osquery/osqueryd.results.log
        - tail -20 /var/log/osquery/osqueryd.results.log
      ignore_errors: true
      changed_when: false
      register: log

- name: Get eicar file to check yara rules
  ansible.builtin.get_url:
    url: https://secure.eicar.org/eicar.com
    dest: /root/test-fim-yara-eicar.com
    mode: '0644'
  when: osquery_testing_yara | bool

- name: Ensure attr package is present
  ansible.builtin.package:
    name: attr
    state: present
- name: Check xattr test file
  ansible.builtin.stat:
    path: /root/test-fim-xattr
  register: xattr_test
- name: Create xattr test file
  ansible.builtin.file:
    name: /root/test-fim-xattr
    state: touch
    mode: '0644'
  when: not xattr_test.stat.exists
- name: Set xattr
  community.general.xattr:
    path: /root/test-fim-xattr
    key: foo
    value: bar
