{{ ansible_managed | comment }}
#include <tunables/global>

/opt/osquery/bin/osqueryd {
  #include <abstractions/base>

  # https://gitlab.com/apparmor/apparmor/-/wikis/TechnicalDoc_Proc_and_ptrace
  ptrace (trace) peer=/opt/osquery/bin/osqueryd,
  deny ptrace (read, readby, tracedby),

  /etc/cron.d/* r,
  /etc/group r,
  /etc/host.conf r,
  /etc/hosts r,
  # audit: type=1400 audit: apparmor="ALLOWED" operation="open" class="file" profile="/opt/osquery/bin/osqueryd" name="/etc/passwd" pid=8622 comm="SchedulerRunner" requested_mask="r" denied_mask="r" fsuid=0 ouid=0
  /etc/passwd r,
  /etc/** r,
  /etc/nsswitch.conf r,
  /etc/osquery/osquery.conf r,
  /etc/osquery/osquery.flags r,
  /home/*/.ssh/* r,
  /home/*/.bash_history r,
  /proc/** rw,
  /proc/cpuinfo r,
  /root/.ssh/* r,
  /root/osqueryd.*.root.log.ERROR.* w,
  /root/osqueryd.*.root.log.INFO.* w,
  /root/osqueryd.*.root.log.WARNING.* w,
  /root/.bash_history r,
  /run/osqueryd.pidfile w,
  /run/resolvconf/resolv.conf r,
  /run/systemd/userdb/* r,
  /run/udev/data/** r,
  /run/utmp r,
  /sys/devices/** r,
  /sys/firmware/dmi/tables/DMI r,
  /tmp/* w,
  /tmp/user/0/osqueryd.*.root.log.ERROR.* w,
  /tmp/user/0/osqueryd.*.root.log.INFO.* w,
  /tmp/user/0/osqueryd.*.root.log.WARNING.* w,
  /opt/osquery/bin/osqueryd Px,
  /opt/osquery/share/osquery/packs/* r,
  /sys/bus/** r,
  /sys/class/block/* r,
  /usr/bin/* r,
  /usr/sbin/* r,
  /usr/local/bin/* r,
  /usr/local/sbin/* r,
  /var/log/osquery/* w,
  /var/osquery/osquery.db/ rw,
  /var/osquery/osquery.db/* rw,
  /var/osquery/osquery.em rw,
  /var/spool/cron/** r,
  /var/tmp/* rw,
}
